In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('credit_card_transactions.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.100702e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03,4.682575e+04
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02,2.583400e+04
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00,1.001000e+03
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00,2.511400e+04
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00,4.586000e+04
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00,6.831900e+04
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00,9.940300e+04

# Can we remove the credit card numbers?

### This dataset contains a credit card number associated with each transaction, but due to the random assignment by the card issuing authority, it's not likely that the credit card number itself can be very useful in determining whether or not a transaction is fraudulent. We can quickly scrub to confirm that all of the card numbers are valid using Luhn's algorithm. Note that since this dataset is notionally after the point of sale, it is expected that they are all valid card numbers. By confirming they are valid, we can remove them from out dataset since they are not going to be useful for other purposes.

### To quickly check if a credit card number is valid, you can use Luhn's algorithm: https://en.wikipedia.org/wiki/Luhn_algorithm
### A python module has been built to quickly check: https://pypi.org/project/luhncheck/

In [3]:
# you may need to install luhncheck using pip
# pip install luhncheck

from luhncheck import is_luhn

# initialize two empty counters
check_counter = 0
error_counter = 0

# iterate through the credit card numbers and increment the check counter
for i in df['cc_num']:
    check_counter += 1
    # if the luhn check fails, the credit card number is invalid, and error increments
    if is_luhn(str(i)) == 'False':
        error_counter += 1

# print the results
print("Total count of credit card numbers: " + str(df['cc_num'].count()))
print("Values checked: " + str(check_counter))
print("Errors found: " + str(error_counter))

Total count of credit card numbers: 1296675
Values checked: 1296675
Errors found: 0

## No errors found indicates that all of these credit card numbers are valid. Again, this is not surprising, as presumably the merchant/payment processor are performing this check at the point of sale, effectively cutting out credit card number fraud before the transaction takes place. 

## Since all of the credit card numbers are valid, we will remove the field from the dataframe to reduce computational overhead.

In [4]:
df.drop('cc_num', axis = 1, inplace = True)

In [18]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  object
 17  trans_num              1296675 non-null  object
 18  unix_time              1296675 non-null  int64
 19  merch_lat              1296675 non-null  float64
 20  merch_long             1296675 non-null  float64
 21  is_fraud               1296675 non-null  int64
 22  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(5), object(12)
memory usage: 227.5+ MB

In [23]:
print((df.memory_usage(deep=True).sum()/(1024*1024)))

1153.7020664215088

In [22]:
print((df['trans_num'].memory_usage(deep=True)/(1024*1024)))

110.0580244064331

## We can see the total column count has decreased from 24 to 23, and we have reduced memory usage by ~10 MB

## What additional columns can we remove to reduce the load? 
#### Column 0 = an icrementing integer for each transaction that is not needed

Review whether the integer in column 0 or the unique transaction ID are more resource intesive, suspect transaction ID requires more bits in memory than integer so thats the one we should remove

In [10]:
print((df['Unnamed: 0'].memory_usage(deep=True)/(1024*1024)))
print((df['trans_num'].memory_usage(deep=True)/(1024*1024)))

9.892967224121094
110.0580244064331

## OPTIONAL DATA CLEANING/FILLING ACTION: geocode missing merchant ZIPS